@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;
    width: 80%;
    margin: auto;
}
.MainSetion{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1000px){
    .MainSetion{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    html{
        width: 90%;
    }
}